.container2 {
    margin-top: 0;
    padding-top: 0px;
    box-sizing: border-box;
    min-height: 3000px;
    z-index: 0;
    position: absolute;
}

h1 {
    padding-top: 70px;
    color: aliceblue;
}
